body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h2.design {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  color: white;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}



div#broadway {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

a {
  color: white;
  font-weight: normal;
  font-size: 18px;

}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
